<nav class="viewdly-nav">
    <NavLink class="logo" href="" Match="NavLinkMatch.All">
        View<span>dly</span>
    </NavLink>
    <div class="d-flex gap-3">
        <NavLink class="nav-link text-dark d-none d-md-block" href="weather">Explore</NavLink>
        <a href="#enquire" class="btn btn-dark rounded-pill px-4 fw-bold">Get Early Access</a>
    </div>
</nav>